<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>FAQ's</title>
    <link rel="icon" href="{{ url_for('static', filename='images/Logo.jpeg') }}" type="image/x-icon">
    <link rel="stylesheet" href="help.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/help.css') }}">
    <script src="{{ url_for('static', filename='js/help.js') }}" defer></script>
   </head>
<body>
  <div class="accordion">
    <div class="image-box">
      <img src="{{ url_for('static', filename='images/mainImg.png') }}" alt="">
    </div>
    <div class="accordion-text">
      <div class="title">FAQ</div>
    <ul class="faq-text">
      <li>
        <div class="question-arrow">
          <span class="question">How to register?</span>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <p><b>To register, please follow these simple steps:</b><br>
          1. Navigate to our website's <a href="/">homepage</a>.<br>
          2. Look for the "Register" or "Get-Started" button. It's usually located in the top-right corner of the page.<br>
          3. Click on the "Register" or "Sign Up" button.<br>
          4. Fill out the required information in the registration form. This typically includes your name, email address, phone number and a secure password.<br>
          5. Once you've filled out the form, click the "Submit" or "Register" button.<br>
          6. Congratulations! You're now registered and can log in using your credentials.</p>
        <span class="line"></span>
      </li>
      <li>
        <div class="question-arrow">
          <span class="question">How to contact customer support</span>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <p><b>To contact customer support, you can typically follow these steps:</b><br>
          1. Visit the Website:<br>
             Go to the official website of the service or company you need support from.<br>
          2. Look for Contact Information:<br>
          Check the website for a "Contact Us," "Support," or "Help" section. This is where you'll often find information on how to get in touch with customer support.<br>
          3. Contact Form:<br>
             The contact form is available on main <a class="link" href="/">website</a>, fill it out with your details and a detailed description of your issue or inquiry. Make sure to provide any relevant account information.</p>
        <span class="line"></span>
      </li>
      <li>
        <div class="question-arrow">
          <span class="question">How to change my password</span>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, necessitatibus.</p>
        <span class="line"></span>
      </li>
      <li>
        <div class="question-arrow">
          <span class="question">He</span>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, labore.</p>
        <span class="line"></span>
      </li>
      <li>
        <div class="question-arrow">
          <span class="question">Software</span>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, repudiandae!</p>
        <span class="line"></span>
      </li>
    </ul>
    </div>
  </div>
</body>
</html>