<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login - ThinkBot</title>
  <link rel="icon" href="{{ url_for('static', filename='images/Logo.jpeg') }}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
</head>

<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form method="post">
    <h3>Login</h3>

    <label for="email">Email</label>
    <input type="email" placeholder="elon@musk.com" id="email" name="email">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="pass">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

    <div class="{{ category }}" id="error-message">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <button type="submit">Log In</button>
    <p>Forgot Password?&nbsp;&nbsp;<span><a href="/reset">Reset</a></span></p>

    <p>Don't have account?&nbsp;&nbsp;<span><a href="/register">REGISTER NOW</a></span></p>

  </form>
  </div>

</html>