<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP verification</title>
    <link rel="icon" href="{{ url_for('static', filename='images/Logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/otp.css') }}">
</head>
<body>
    <div class="container">
        <h2>Verify your account</h2>
        <p>we emailed you the six digit code to personal@gmail.com <br/> Enter the code below to confirm your email address.</p>
        
    </div>
</body>
</html>