<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ChatBot</title>
  <link rel="icon" href="{{ url_for('static', filename='images/Logo.jpeg') }}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
</head>

<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form method="post">
    <h3>Reset Password</h3>

    <input type="hidden" id="email" name="email" value="{{email}}">

    <label for="pass1">Password</label>
    <input type="text" placeholder="Password" id="password1" name="pass1">
    <label for="pass2">Repeat Password</label>
    <input type="text" placeholder="Password" id="password2" name="pass2">


    <button type="submit" id="SubmitBtn" disabled>Reset</button>
    <p>Already have account?&nbsp;&nbsp;<span><a href="/login">LOGIN NOW</a></span></p>
    <p>Create new account?&nbsp;&nbsp;<span><a href="/register">REGISTER NOW</a></span></p>

  </form>
  </div>
  <script>
    const password1Input = document.getElementById('password1');
    const password2Input = document.getElementById('password2');
    const submitButton = document.getElementById('SubmitBtn');

    password1Input.addEventListener('input', () => {
      validatePasswords();
    });

    password2Input.addEventListener('input', () => {
      validatePasswords();
    });

    function validatePasswords() {
      const password1 = password1Input.value;
      const password2 = password2Input.value;

      if (password1 !== password2 || !password1 || !password2) {
        submitButton.disabled = true;
      } else {
        submitButton.disabled = false;
      }
    }


  </script>

</html>